@import 'tailwindcss';

@theme {
  --color-background: black;
  --color-foreground: white;
  --color-border: color-mix(in oklab, var(--color-gray-700) 80%, transparent);
  --color-destructive: var(--color-red-500);
  --color-destructive-hover: var(--color-red-700);
  --color-accent: var(--color-gray-800);
}
