@import 'tailwindcss';

@theme {
  --color-background: black;
  --color-foreground: white;
  --color-border: color-mix(in oklab, var(--color-gray-700) 80%, transparent);
  --color-destructive: var(--color-red-500);
  --color-destructive-hover: var(--color-red-700);
  --color-accent: var(--color-gray-800);
}

@keyframes reveal {
  0% {
    scale: 0.8;
    opacity: 0;
    translate: 0 4lh;
    filter: blur(20px);
  }
}

::view-transition-new(.page-enter):only-child {
  animation-name: reveal;
}

::view-transition-old(.page-exit):only-child {
  animation-name: reveal;
  animation-direction: reverse;
}

/* util for faster than default (250ms) transitions. Typically used to make exits faster so they don't visually overlap with enters */
::view-transition-group(.duration-150) {
  animation-duration: 150ms;
}

/* 
Blur animation for view transitions with tracked elements. Fast-moving solid elements can be visually jarring as the eye tries to track them. This creates a poor man's motion blur we can use to make these transitions smoother.
*/
@keyframes via-blur {
  30% {
    filter: blur(10px);
  }
}

/* using ::view-transition-image-pair and not ::view-transition-group to preserve the default animation's automatic scale and position morphing */
::view-transition-image-pair(.via-blur) {
  animation-name: via-blur;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    /* alternatively, you could design more subtle variants */
    animation: none !important;
  }
}

@keyframes scale-in {
  from {
    scale: 0.7;
    opacity: 0.5;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes scale-out {
  from {
    scale: 1;
    opacity: 1;
  }
  to {
    scale: 0.7;
    opacity: 0.5;
  }
}

::view-transition-new(.scale-image) {
  animation: scale-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

::view-transition-old(.scale-image) {
  animation: scale-out 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Clerk styles */
.clerk-social-buttons-vertical {
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
  width: 100% !important;
}

.clerk-social-button-full {
  width: 100% !important;
  justify-content: center !important;
}

.clerk-social-button-text {
  font-size: 0.9rem !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
}

.clerk-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.clerk-header-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.clerk-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
}

.clerk-main {
  display: block;
  flex-direction: column;
}
.clerk-logo-box {
  vertical-align: top;
}
